.container{
    background-color: white;
    overflow-x: auto;
    overflow-y: auto;
    width:100vw;
    height:100vh;
}
.row{
    color:black;
    font-size:1.25em;
    margin:20px;
    
}
table{
    width:100%;
}
.row:nth-child(even){
    background: #a3d4d6;
}
.row:nth-child(odd){
    background: white;
}
.tableheader{
    background:#1d3557; 
    color:white;
    padding:5px;
}
.head{
    padding:10px;
}
.edit{
    color:white;
    border:0px;
    background-color: indianred;
    border:0px;
    padding: 5px 20px 5px 20px;
    margin:5px;
    border-radius:2px;
}
@media only screen and (min-width:768px){
    .container
    {
        width:100vw;
    }
}
